@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
html {
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-nunito),Arial, Helvetica, sans-serif;
}

/* ✅ bloquear scroll horizontal sin recortar layout */
.noscrollx {
  overflow-x: clip;            /* mejor que hidden: no crea scroll */
  overscroll-behavior-x: none; /* evita "rebote" lateral */
  touch-action: pan-y;         /* en mobile: solo scroll vertical */
}

/* ✅ por si algún navegador ignora clip */
@supports not (overflow: clip) {
  .noscrollx {
    overflow-x: hidden;
  }
}
